@inject IDeviceService DeviceService
@if(DeviceService.Devices == null || DeviceService.Devices.Count == 0){
    <span>Loading devices</span>
}
else{
    @foreach (var device in DeviceService.Devices)
    {
        <a href="/device/@device.DeviceId">DEVICE @device.DeviceId</a>
    }
}

@code{
    protected override async Task OnInitializedAsync()
    {
        await DeviceService.GetDevices();
    }
}